In [9]:
import pandas as pd

# Load the dataset
df = pd.read_csv("StudentsPerformance.csv")

In [10]:
# View sample data
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
#Create Sets from Dataset
# Convert values to sets (to get unique entries)
genders = set(df['gender'])
races = set(df['race/ethnicity'])

print("Unique Genders:", genders)
print("Unique Race Groups:", races)

Unique Genders: {'male', 'female'}
Unique Race Groups: {'group D', 'group A', 'group B', 'group E', 'group C'}

In [4]:
#Add Element to a Set (Example)
# Add a new gender label (just for demo)
genders.add("non-binary")
print("Genders after add():", genders)

Genders after add(): {'male', 'non-binary', 'female'}

In [5]:
#Remove Element from Set
# Remove 'non-binary' again
genders.remove("non-binary")
print("Genders after remove():", genders)

Genders after remove(): {'male', 'female'}

In [6]:
# Union Example
# Let's create two fake sets of genders from two different classes
class1_genders = set(df['gender'][:50])
class2_genders = set(df['gender'][50:100])

all_genders = class1_genders.union(class2_genders)
print("Union (Class1 ∪ Class2):", all_genders)

Union (Class1 ∪ Class2): {'male', 'female'}

In [7]:
# Intersection Example
common_genders = class1_genders.intersection(class2_genders)
print("Intersection (Class1 ∩ Class2):", common_genders)

Intersection (Class1 ∩ Class2): {'male', 'female'}

In [8]:
#Difference Example
only_in_class1 = class1_genders.difference(class2_genders)
print("Genders only in Class 1:", only_in_class1)

Genders only in Class 1: set()